/* @import url(https://fonts.googleapis.com/css?family=Open+Sans); */
body {
	margin: 0;
	padding: 0;
	background-color: #444044;	/* gris foncé */
}

input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
}



/* Header */
/* Menu sélectionné */
th {
	width: 33%;
	cursor: pointer;
}

.header th.selected {
	color: #444044;		/* gris foncé */
	background-color: #a0a0a0;	/* gris clair */
}

/* Menu non sélectionné */
.header th:not(.selected) {
	color: #a0a0a0;		/* gris clair */
	background-color: #444044;	/* gris foncé */
}

.header {
	border-bottom: 1px solid white;
}

.header table {
	width: 100%;
}




#color-picker {
  position: absolute;
  background-color: white;
  border: solid 1px #ccc;
  padding: 5px;
  display: flex;
  flex-direction: row;
}

#colors-container {
	margin: 10px;
}

#rgb-textboxes{
	display: flex;
	flex-direction: column;
	margin-left: 100px;	
}

#rgb-textboxes label {
	margin-left: 30px;
}

.little-color-picker{
	max-height: 125px;
	max-width: 425px;
	overflow: hidden;
}

.mode-hue{
	max-width: 42px;
	max-height: 460px;
}

.rgb-value,
#value-luminosity{
	width: 60px;
	padding: 5px;
	margin: 10px;
}

#luminosity{
	margin: 15px;
	height: auto;
}




/* Partie actions */
.actions-container {
	margin-left: 1%;
	margin-top: 1%;
	border: 1px solid grey;
	height: 495px;
	width: 315px;
}

.bande-power {
	top: 125px;;
	align-self: center;
}

.actions-container > div:not(.selected){
	display: none;
}



/* Couleur des labels */
#label-red{
	color: red;
}

#label-green{
	color: green;
}

#label-blue{
	color: blue;
}

#label-luminosity{
	color: white;
}

/* Partie colorPicker */
.jqx-color-picker-panel,
.jqx-disableselect.jqx-color-picker-bar,
.jqx-disableselect.jqx-color-picker-map-hue{
	visibility: hidden;
}
.jqx-disableselect.jqx-color-picker-bar-hue{
	position: unset !important;
}