<html>
	<head>
		<link rel="stylesheet" href='/static/css/led.css' />
		<link rel="stylesheet" href='/static/css/toggleSwitch.css' />
		<script src="/static/js/jquery-3.3.1.min.js"></script>
        <script src="/static/js/led.js"></script>    
        <script src="/static/js/notify.js"></script>    
		<link rel="stylesheet" href="/static/jqwidgets/jqwidgets/styles/jqx.base.css" type="text/css" />
		<script src="/static/jqwidgets/jqwidgets/jqxcore.js"></script>
		<script src="/static/jqwidgets/jqwidgets/jqxcolorpicker.js"></script>
		<link rel="stylesheet" href="/static/fontawesome-free-5.7.2-web/css/all.css" type="text/css" />
	</head>
	<body>
	
		<page>
			<!-- Le header, avec les bouton de menu -->
			<div class="header">
					
				<table>
					<tr>
						<th class="bed selected" >
							<span style="font-size: 48px;" >
								<i class="fas fa-bed"></i>
							</span>
						</th>
						<th class="both" >
							<span style="font-size: 48px;" >
								<i class="fas fa-arrows-alt-h "></i>
							</span>
						</th>
						<th class="bulb" >
							<span style="font-size: 48px;" >
								<i class="fas fa-lightbulb"></i>
							</span>
						</th>
					</tr>
				</table>
				
			</div>
		
			<div class="actions-container">
			
				<!-- Container des actions de la bande -->
				<div class="bed selected">
					<div class="colors-container">

						<!-- Le colorPicker -->
						<div class="color-picker">
							<div></div>
							<input class="luminosity" type="range" value="255" max="255" min="0" step="1" orient="vertical">
						</div>
						
						
						<div class="rgb-textboxes">
							<table>
								<tr>
									<th><label class="label red">R</label></th>
									<th><input type="text" class="rgb-value red"></input></th>
								</tr>
								
								<tr>
									<th><label class="label green">G</label></th>
									<th><input type="text" class="rgb-value green"></input></th>
								</tr>
								
								<tr>
									<th><label class="label blue">B</label></th>
									<th><input type="text" class="rgb-value blue"></input></th>
								</tr>
								
								<tr>
									<th><label class="label luminosity">Luminosité</label></th>
									<th><input type="text" class="value-luminosity"></input></th>
								</tr>
							</table>
							
							<!-- Bouton pour allumer/éteindre la bande -->
							<label class="switch bande-power">
								<input type="checkbox" checked>
								<span class="slider round"></span>
							</label>
						</div>
						
					</div>
				</div>
				
				<!-- Container des actions de la lampe -->
				<div class="bulb">				
					<div class="colors-container">

						<!-- Le colorPicker -->
						<div class="color-picker">
							<div></div>
							<input class="luminosity" type="range" value="255" max="255" min="0" step="1" orient="vertical">
						</div>
						
						
						<div class="rgb-textboxes">
							<table>
								<tr>
									<th><label class="label red">R</label></th>
									<th><input type="text" class="rgb-value red"></input></th>
								</tr>
								
								<tr>
									<th><label class="label green">G</label></th>
									<th><input type="text" class="rgb-value green"></input></th>
								</tr>
								
								<tr>
									<th><label class="label blue">B</label></th>
									<th><input type="text" class="rgb-value blue"></input></th>
								</tr>
								
								<tr>
									<th><label class="label luminosity">Luminosité</label></th>
									<th><input type="text" class="value-luminosity"></input></th>
								</tr>
							</table>
							
							<!-- Bouton pour allumer/éteindre la bande -->
							<label class="switch bande-power">
								<input type="checkbox" checked>
								<span class="slider round"></span>
							</label>
						</div>
						
					</div>
				</div>
				
				<!-- Container des actions sur la lampe et la bande -->
				<div class="both">			
					<div class="colors-container">

						<!-- Le colorPicker -->
						<div class="color-picker">
							<div></div>
							<input class="luminosity" type="range" value="255" max="255" min="0" step="1" orient="vertical">
						</div>
						
						
						<div class="rgb-textboxes">
							<table>
								<tr>
									<th><label class="label red">R</label></th>
									<th><input type="text" class="rgb-value red"></input></th>
								</tr>
								
								<tr>
									<th><label class="label green">G</label></th>
									<th><input type="text" class="rgb-value green"></input></th>
								</tr>
								
								<tr>
									<th><label class="label blue">B</label></th>
									<th><input type="text" class="rgb-value blue"></input></th>
								</tr>
								
								<tr>
									<th><label class="label luminosity">Luminosité</label></th>
									<th><input type="text" class="value-luminosity"></input></th>
								</tr>
							</table>
							
							<!-- Bouton pour allumer/éteindre la bande -->
							<label class="switch bande-power">
								<input type="checkbox" checked>
								<span class="slider round"></span>
							</label>
						</div>
						
					</div>
				</div>
			</div>
		
		</page>
	</body>
</html>