<html>
	<head>
		<link rel="stylesheet" href='/static/css/led.css' />
		<script src="/static/js/jquery-3.3.1.min.js"></script>
        <script src="/static/js/led.js"></script>    
		<link rel="stylesheet" href="/static/jqwidgets/jqwidgets/styles/jqx.base.css" type="text/css" />
		<script src="/static/jqwidgets/jqwidgets/jqxcore.js"></script>
		<script src="/static/jqwidgets/jqwidgets/jqxcolorpicker.js"></script>
	</head>
	<body>
		<div id="colors-container">

			<!-- <label for="color-input" id="color-label" style="background-color: red"></label> -->
			<!-- <input type="checkbox" id="color-input" checked></input> -->

		
			<!-- <div id="color-picker"> -->
			  <!-- <canvas id="color-block" height="500" width="500"></canvas> -->
			  <!-- <canvas id="color-strip" height="500" width="50"></canvas> -->
			<!-- </div> -->
			<div id ="color-picker"></div>
			
			
			<div id="rgb-textboxes">
				<label>R</label>
				<input type="text" class="rgb-value" id="value-red"></input>
				
				<label>G</label>
				<input type="text" class="rgb-value" id="value-green"></input>
				
				<label>B</label>
				<input type="text" class="rgb-value" id="value-blue"></input>
			</div>
	</body>
</html>